app:
  persistence:
    datasource:
      driver-class-name: org.mariadb.jdbc.Driver
      username: 'root'
      password: 'root'
      rootUsername: 'root'
      rootPassword: 'root'
      url: jdbc:mariadb://127.0.0.1:3307/uris?ssl=false&createDatabaseIfNotExist=true
    jpa:
      dialect: org.hibernate.dialect.MariaDB53Dialect
      generate-ddl: false
      ddl-auto: create
      show-sql: true
      format_sql: true
      use_sql_comments: true
      properties:
        hibernate.temp.use_jdbc_metadata_defaults: false
  uri:
    canonicalURISchema: http://$domain$/$sub-domain$/$type$/$concept$/$reference$
    canonicalURILanguageSchema: http://$domain$/$sub-domain$/$language$/$type$/$concept$/$reference$

  # CORS
  cors:
    enabled: true
    allowedOrigin: '*'
    allowedMethods: GET,POST,PUT,DELETE
    allowedHeaders:
      - Authorization
      - X-Requested-With
      - Content-Type
    maxAge: 3600

  # Cache configuration
  cache:
    embedded:
      enabled: true

  # Swagger
  swagger:
    enabled: false

## Actuator
management:
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
  endpoints:
    web:
      base-path: /management
  server:
    port: 9321
  health:
    mail:
      enabled: false
    ldap:
      enabled: false
    redis:
      enabled: false

## In case of configure web endpoints, remove it or change port number
server:
  port: ${management.server.port}

logging:
  level:
    org.hibernate.SQL: DEBUG
    #org.hibernate.type: TRACE
